.movie-layout {
  flex-wrap: nowrap;
}
.col-md-2 {
  padding: 0px 10px;
}
.col-md-6 {
  padding: 0px 25px;
}
.seatDummy {
  display: inline-block;
  /* float: right; */
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0px 0px;
  margin: 0px;
  cursor: pointer;
}
.row2 {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 180px;
}
.seat-grey {
  background-color: #ddd;
}
.seat-black {
  background-color: black;
}
.seat-red {
  background-color: red;
}
